<!-- DEMO MASTER NAV -->
<nav class="demo-nav">
  <div class="container">
    <div class="demo-nav__inner">
      <a href="/" class="demo-nav-btn">Homepage</a>
      <a href="/pages/catalog/category.html" class="demo-nav-btn">Category / PLP</a>
      <a href="/pages/product/detail.html" class="demo-nav-btn">Product Detail</a>
      <a href="/pages/cart/index.html" class="demo-nav-btn">Cart Page</a>
      <a href="/pages/checkout/index.html" class="demo-nav-btn">Checkout</a>
    </div>
  </div>
</nav>
